* {
	font-family:'Open Sans', sans-serif;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.myshare {
	padding-top:13px;
}

.copyrights {
	font-size:85%;
}

.brand img {
	height:21px;
	width:21px;
	position:relative;
	bottom:3px;
	margin-right:3px;
}

.rightbutton {
	position:relative;
	top:3px;
	margin-left:12px;	
}

@media (max-width: 767px) {
	.pull-right, .slider-wrapper {
		display:none;
	}
	
	body {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
