body {
	padding-top: 0px;
	padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

#socials {
	margin:15px 0 0 80px;	
	
	
}

#socials ul {
	margin: 0 auto;
	width:400px;
}
#socials li {
	list-style-type:none;
	display:inline;	
}
.fb-like {
	bottom:4px;
}

.copyrights {
	font-size:85%;
}

.brand img {
	height:21px;
	width:21px;
	position:relative;
	bottom:3px;
	margin-right:3px;
}

.rightbutton {
	position:relative;
	top:3px;
	margin-left:12px;	
}


.slider-wrapper {
	margin-top:20px;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;	
		
}

.container {	
}

